Package: com.pixelomer.cgba4ios
Name: CGBA4iOS
Depends: mobilesubstrate, firmware (>=8.0)
Version: 1.2
Architecture: iphoneos-arm
Description: Corrupt GameBoy games using GBA4iOS
  This is a tweak that lets you corrupt GameBoy games using GBA4iOS. Just hold the game you want to corrupt and press "Corrupt Game".
  The tweak can be used for both corrupting in real time and for duplicating and corrupting a ROM.
  ROM corruption doesn't work well with GBA games. However, real time corruption does work fine.
  Requires iOS 8.0 or higher.
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
